---
layout: base
body_id: interior-page
---
<div id="header">
  
  <ul>
   <li>      <a href="http://www.3dic.xyz"><p style="font-family:verdana;font-size:70%;color:black">HOME</p></a>    </li>
   <li>      <a href="http://www.3dic.xyz/tech"><p style="font-family:verdana;font-size:70%;color:black">3D Tech</p></a>    </li>
   <li>      <a href="http://www.3dic.xyz/about"><p style="font-family:verdana;font-size:70%;color:black">About</p></a>    </li>
   <li>      <a href="http://www.3dic.xyz/links"><p style="font-family:verdana;font-size:70%;color:black">Links</p></a>    </li>
  </ul>
  <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
