---
layout: base
body_id: interior-page
---
<div id="header">
  <ul><font size="12px" color="red">
   <li>      <a href="http://www.3dic.xyz">HOME</a>    </li>
   <li>      <a href="http://www.3dic.xyz/tech">3D Technology</a>    </li>
   <li>      <a href="http://www.3dic.xyz/about">About</a>    </li>
   <li>      <a href="http://www.3dic.xyz/links">Links</a>    </li>
  </ul></font>
  <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
