---
layout: base
body_id: interior-page
---
<div id="header">
  <ul>
   <li>
      <a class="core-nav icon-quill-2" href="/" title="HOME"></a>
      <a class="core-nav icon-quill-2" href="/news" title="3DIC News"></a>
    </li>
    <li>
      <a class="core-nav icon-feed" href="/standards" title="3DIC Standards"></a>
    </li>
    <li>
      <a class="core-nav icon-twitter" href="researches" title="3DIC Researches"></a>
    </li>
    <li>
      <a class="core-nav icon-github" href="/links" title="3DIC Links"></a>
    </li>
    <li>
    </li>
    <li>
      <a class="core-nav icon-search" id="search-icon" href="#" title="Search www.3DIC.ac"></a>
    </li>
  </ul>
  <div style="clear:both"></div>
  <div id="search">
    <form action="http://www.google.com/cse" id="cse-search-box" style="display:none;">
      <div>
        <input type="hidden" name="cx" value="009388269275723358856:qssfziqelrs" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" width="100%"/>
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
  </div>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
